body {
    animation: example 2s linear;
  }
  

  .loader {
    margin: auto;
    width: 50%;
    padding: 16px;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .search {
    width: 120px;
    height: 120px;
    animation: example 2s linear;
  }

  @keyframes example {
    from {background-color: red;}
    to {background-color: lightblue;}
    from {color: red;}
    to {color: blue;}
  }
